<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>

  <appSettings>
    <!--VIDEO-->
    <add key="1008" value="http://player.vimeo.com/video/34691629?title=0&amp;byline=0&amp;portrait=0>The Last Run>Tomas Martinek>short film>Letní den, v němž minuty rozhodují o lásce, životě a smrti. Lole a Mannimu je něco přes dvacet a jsou milenci. Manni pracuje jako kurýr pro pochybného překupníka s auty. Poslední akce však nedopadne podle plánu." />
    <add key="1007" value="http://player.vimeo.com/video/34403324?title=0&amp;byline=0&amp;portrait=0>Autoportrait>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1006" value="http://player.vimeo.com/video/30978297?title=0&amp;byline=0&amp;portrait=0>NADJA#2011>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1005" value="http://player.vimeo.com/video/32471296?title=0&amp;byline=0&amp;portrait=0>'80'>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1004" value="http://player.vimeo.com/video/30814246?title=0&amp;byline=0&amp;portrait=0>THIS IS MY LIFE>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1003" value="http://player.vimeo.com/video/27905712?title=0&amp;byline=0&amp;portrait=0>Goodbye London>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1002" value="http://player.vimeo.com/video/25051867?title=0&amp;byline=0&amp;portrait=0>NINTH LIFE>Tomas Martinek>asldk>popis popis pisis."/>
    <add key="1001" value="http://player.vimeo.com/video/22671183?title=0&amp;byline=0&amp;portrait=0>Today and Tomorrow>Tomas Martinek>asldk>popis popis pisis."/>
    
    <!--PEOPLE-->
    <add key="2001" value="Naděžda Navrátilová>pic/people/nadja/1.jpg;pic/people/nadja/2.jpg;pic/people/nadja/3.jpg;pic/people/nadja/4.jpg;pic/people/nadja/5.jpg;pic/people/nadja/6.jpg;pic/people/nadja/7.jpg;pic/people/nadja/8.jpg;pic/people/nadja/9.jpg;pic/people/nadja/10.jpg;pic/people/nadja/11.jpg;pic/people/nadja/12.jpg;pic/people/nadja/13.jpg;pic/people/nadja/14.jpg;pic/people/nadja/17.jpg;pic/people/nadja/18.jpg;pic/people/nadja/19.jpg;"/>
    <add key="2002" value="Lenka Šunková>pic/people/lenka/1.jpg;pic/people/lenka/2.jpg;pic/people/lenka/3.jpg;pic/people/lenka/4.jpg;pic/people/lenka/5.jpg;pic/people/lenka/6.jpg;pic/people/lenka/7.jpg;pic/people/lenka/8.jpg;pic/people/lenka/9.jpg"/>
    
    <!--PLACES-->
    <add key="3001" value="Edinburgh>pic/places/Edinburgh/1.JPG;pic/places/Edinburgh/2.JPG;pic/places/Edinburgh/3.JPG;pic/places/Edinburgh/4.JPG;pic/places/Edinburgh/5.JPG;pic/places/Edinburgh/6.JPG;pic/places/Edinburgh/7.JPG;pic/places/Edinburgh/8.JPG;pic/places/Edinburgh/9.JPG;"/>
    <add key="3002" value="London>pic/places/London/0.JPG;pic/places/London/2.JPG;pic/places/London/3.JPG;pic/places/London/4.JPG;pic/places/London/5.JPG;pic/places/London/6.JPG;pic/places/London/7.JPG;pic/places/London/8.JPG;pic/places/London/10.JPG;pic/places/London/11.JPG;pic/places/London/12.JPG;pic/places/London/13.JPG;pic/places/London/14.JPG;pic/places/London/15.JPG;pic/places/London/16.JPG;"/>
    <add key="3003" value="Prague>pic/places/Prague/1.JPG;pic/places/Prague/2.JPG;pic/places/Prague/3.JPG;pic/places/Prague/4.JPG;pic/places/Prague/5.JPG;pic/places/Prague/6.JPG;pic/places/Prague/7.JPG;pic/places/Prague/8.JPG;pic/places/Prague/9.JPG;"/>
    <add key="3004" value="Scotland>pic/places/Scotland/1.JPG;pic/places/Scotland/2.JPG;pic/places/Scotland/3.JPG;pic/places/Scotland/4.JPG;pic/places/Scotland/5.JPG;pic/places/Scotland/6.JPG;pic/places/Scotland/7.JPG;pic/places/Scotland/8.JPG;pic/places/Scotland/9.JPG;pic/places/Scotland/10.JPG;"/>
    <add key="3005" value="St. Andrews>pic/places/Andrews/1.JPG;pic/places/Andrews/2.JPG;pic/places/Andrews/3.JPG;pic/places/Andrews/4.JPG;pic/places/Andrews/5.JPG;pic/places/Andrews/6.JPG;pic/places/Andrews/7.JPG;pic/places/Andrews/8.JPG;pic/places/Andrews/9.JPG;"/>
    
    <!--PROJECTS-->
    <add key="4001" value="Jurkovic`s house>pic/projects/Jurkovic/1.JPG;pic/projects/Jurkovic/2.JPG;pic/projects/Jurkovic/3.JPG;pic/projects/Jurkovic/4.JPG;pic/projects/Jurkovic/5.JPG;pic/projects/Jurkovic/6.JPG;pic/projects/Jurkovic/7.JPG;pic/projects/Jurkovic/8.JPG;pic/projects/Jurkovic/9.JPG;pic/projects/Jurkovic/10.JPG;"/>
    <add key="4002" value="Life in Praque>pic/projects/LiveInPrague/0.JPG;pic/projects/LiveInPrague/1.JPG;pic/projects/LiveInPrague/2.JPG;pic/projects/LiveInPrague/3.JPG;pic/projects/LiveInPrague/4.JPG;pic/projects/LiveInPrague/5.JPG;pic/projects/LiveInPrague/6.JPG;pic/projects/LiveInPrague/7.JPG;pic/projects/LiveInPrague/8.JPG;pic/projects/LiveInPrague/9.JPG;pic/projects/LiveInPrague/10.JPG;pic/projects/LiveInPrague/11.JPG;pic/projects/LiveInPrague/12.JPG;pic/projects/LiveInPrague/13.JPG;pic/projects/LiveInPrague/14.JPG;pic/projects/LiveInPrague/15.JPG;pic/projects/LiveInPrague/16.JPG;pic/projects/LiveInPrague/17.JPG;pic/projects/LiveInPrague/18.JPG;"/>
    <add key="4003" value="TSTO with Nadja>pic/projects/TSTOwithNadia/1.JPG;pic/projects/TSTOwithNadia/2.JPG;pic/projects/TSTOwithNadia/3.JPG;pic/projects/TSTOwithNadia/4.JPG;pic/projects/TSTOwithNadia/5.JPG;pic/projects/TSTOwithNadia/6.JPG;pic/projects/TSTOwithNadia/7.JPG;pic/projects/TSTOwithNadia/8.JPG;pic/projects/TSTOwithNadia/9.JPG;pic/projects/TSTOwithNadia/10.JPG;pic/projects/TSTOwithNadia/11.JPG;pic/projects/TSTOwithNadia/12.JPG;pic/projects/TSTOwithNadia/13.JPG;pic/projects/TSTOwithNadia/14.JPG;pic/projects/TSTOwithNadia/15.JPG;pic/projects/TSTOwithNadia/16.JPG;pic/projects/TSTOwithNadia/17.JPG;pic/projects/TSTOwithNadia/18.JPG;pic/projects/TSTOwithNadia/19.JPG;pic/projects/TSTOwithNadia/20.JPG;pic/projects/TSTOwithNadia/21.JPG;pic/projects/TSTOwithNadia/22.JPG;"/>
    <add key="4004" value="TSTOcwithPavel>pic/projects/TSTOwithPavel/1.jpg;pic/projects/TSTOwithPavel/2.jpg;pic/projects/TSTOwithPavel/3.jpg;pic/projects/TSTOwithPavel/4.jpg;pic/projects/TSTOwithPavel/5.jpg;pic/projects/TSTOwithPavel/6.jpg;pic/projects/TSTOwithPavel/7.jpg;pic/projects/TSTOwithPavel/8.jpg;"/>
    
    <!--NEWS-->
    <add key="5001" value="pic/news/0.jpg;pic/news/2.jpg;pic/news/3.jpg;pic/news/4.jpg;pic/news/4a.jpg;pic/news/5.jpg;pic/news/6.jpg;pic/news/10.jpg;pic/news/11.jpg;pic/news/11a.jpg;"/>
    <add key="5002" value="pic/news/12.jpg;pic/news/13.jpg;pic/news/14.jpg;pic/news/15.jpg;pic/news/16.jpg;pic/news/17.jpg;pic/news/18.jpg;pic/news/19.jpg;pic/news/19b.jpg;pic/news/20.jpg;"/>
    <add key="5003" value="pic/news/21.jpg;pic/news/22.jpg;pic/news/23.jpg;pic/news/25.jpg;pic/news/26.jpg;pic/news/27.jpg;pic/news/28.jpg;pic/news/29.jpg;pic/news/30.jpg;pic/news/31.jpg;"/>
    <add key="5004" value="pic/news/33.jpg;pic/news/34.jpg;"/>
    <add key="5005" value=""/>
    <add key="5006" value=""/>
    <add key="5007" value=""/>
  </appSettings>
</configuration>
